.root {
  margin: var(--awsm-space-8) 0;

  padding: 0;
}

.item {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.item + .item {
  margin-top: var(--awsm-space-12);
}

.heading {
  margin: 0;
  margin-bottom: var(--awsm-space-6);

  font-size: var(--awsm-font-size-l);
  font-weight: normal;
}

.example {
  background: var(--awsm-color-background-subtle);
  border: var(--awsm-space-px) solid var(--awsm-color-gamma-200);
  border-radius: var(--awsm-radius-n);
  overflow: auto;
}

.content {
  padding: var(--awsm-space-8);
  overflow: auto;
}

.code {
  margin-top: var(--awsm-space-1);
}

@keyframes loadingAnimation {
  0% {
    opacity: 0.25;
  }

  100% {
    opacity: 1;
  }
}

.loading {
  margin: var(--awsm-space-8) 0;
  opacity: 1;
  animation: loadingAnimation;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

.loading_heading,
.loading_body {
  display: block;
  background: var(--awsm-color-gamma-100);
  border-radius: var(--awsm-radius-s);
}

.loading_heading {
  width: 30%;
  height: calc(var(--awsm-font-size-l) * var(--awsm-line-height-tight));
  margin: var(--awsm-space-6) 0;
}

.loading_body {
  height: 12rem;
  margin-bottom: var(--awsm-space-16);
}
